<!DOCTYPE html>
<html>
<head>
<title>RoomSync</title>
<style>
body { font-family: Arial; background:#111; color:white; padding:20px;}
input, select, button { margin:5px; padding:8px; }
.card { background:#222; padding:20px; border-radius:10px; margin-bottom:20px;}
.booking { background:#333; padding:10px; margin:5px; }
</style>
</head>

<body>

<h2>Room Booking</h2>

<div id="loginDiv" class="card">
<input id="emp_id" placeholder="ID">
<input id="password" type="password" placeholder="Password">
<button onclick="login()">Login</button>
</div>

<div id="app" style="display:none">

<div class="card">
<select id="room">
<option>Boardroom A</option>
<option>Meeting Room B</option>
<option>Meeting Room C</option>
</select>

<input id="title" placeholder="Title">
<input type="date" id="date">
<input type="time" id="start">
<input type="time" id="end">

<button onclick="bookRoom()">Book</button>
</div>

<div class="card">
<h3>Bookings</h3>
<div id="list"></div>
</div>

</div>

<script>

let currentUser=null;

async function login(){
const emp_id=document.getElementById("emp_id").value;
const password=document.getElementById("password").value;

const res=await fetch("/login",{method:"POST",headers:{"Content-Type":"application/json"},body:JSON.stringify({emp_id,password})});
const data=await res.json();

if(data.success){
document.getElementById("loginDiv").style.display="none";
document.getElementById("app").style.display="block";
loadBookings();
}else{
alert("Login failed");
}
}

async function loadBookings(){
const res=await fetch("/get_bookings");
const data=await res.json();

const list=document.getElementById("list");
list.innerHTML="";

data.forEach(b=>{
list.innerHTML+=`<div class="booking">${b.room} ${b.date} ${b.start}-${b.end}</div>`;
});
}

async function bookRoom(){
const room=document.getElementById("room").value;
const title=document.getElementById("title").value;
const date=document.getElementById("date").value;
const start=document.getElementById("start").value;
const end=document.getElementById("end").value;

const res=await fetch("/book",{method:"POST",headers:{"Content-Type":"application/json"},body:JSON.stringify({room,title,date,start,end})});
const data=await res.json();

if(!data.success){
if(data.clash){
alert("❌ Booking Clash! Same time slot already booked.");
}else{
alert("Error");
}
return;
}

alert("Booked!");
loadBookings();
}

</script>

</body>
</html>
